@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*nerd fonts*/
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

.exc-cur {
    cursor: url(./cursor2.png)0 0, auto;
}

body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    background-color: #000000;
opacity: 1;
background-image:  repeating-linear-gradient(45deg, #090909 25%, transparent 25%, transparent 75%, #090909 75%, #090909), repeating-linear-gradient(45deg, #090909 25%, #000000 25%, #000000 75%, #090909 75%, #090909);
background-position: 0 0, 31px 31px;
background-size: 62px 62px;
overflow-x: hidden;
    background-repeat: repeat;
    cursor: url(./cursor2.png)0 0, auto;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    letter-spacing: 12px;
}

#headr1 {
    margin-top: -20px;
}

.outerbox {
    margin: 20px 0px;
    background-color: #fff2;
    display: block;
    backdrop-filter: blur(10px);
    border: #fff2 2px solid;
    padding: 25px;
    box-shadow: 0px 0px 20px 10px #000a;
    border-radius: 15px;
    padding-right: 100px;
}

h3 {
    color: #aaa;
    text-decoration: underline;
    font-style: italic;
}

ul {
    list-style: none;
}
li::before {
    content: "> ";
}

li {
    margin-bottom: 5px;
}

.himg {
    width: 256px;
    z-index: 1000;
    filter: drop-shadow(10px 10px 0px #fff5);
}



.imginter1 {
    margin-right: 5px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 0px 5px #0006;
}

.dynamic {
    width: fit-content;
    height: fit;
}

.imgdesc::before {
    content: "↑ ";
}

.imgdesc {
    color: #aaa;
}

.sideimg {
    position: absolute;
    display: inline;
    width: 400px;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #fff8;
}

.cpyr {
    color: #ddd;
}

.fixed-small {
    width: 27vw;
}
.widthtwf {
    width: 26vw;
}

select {
    font-family: "Poppins", sans-serif;
    border: 1px solid #fff7;
    background-color: #fff7;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px #0009;
    color: #000;
    padding: 10px;
    border-radius: 7px;
}